* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    height:10%;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 0 ;
    box-sizing: border-box;
}

.dropbtn1 {
    background-color: transparent;
    font-size: 16px;
    border: none;
    text-decoration: none;
}

.dropdown1 {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 245px;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration: none;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content1 a:hover {background-color: #ddd; border-radius: 15px;}
.dropdown1:hover .dropdown-content1 {display: block;}

.dropbtn {
    background-color: transparent;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.text_profile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -60%);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 245px;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}
.dropdown-content a:hover {background-color: #ddd; border-radius: 15px;}
.dropdown:hover .dropdown-content {display: block;}

.menu1 {
    display: flex;
    color: #FCFBF9;
    text-decoration: none;
    
}

.menu1 li {
    margin-left: 120px;
}

.menu1 li a{
    color: #FCFBF9;
    text-decoration: none;
}
.menu1 li a:hover {
    color-scheme: #6C63FF;
    color:#6C63FF;
}

.menu2 {
    display: flex;
}

.menu2 li {
    margin-left: 8px;
}

body {
    height: auto;
    width: auto;
    background-color: #FCFBF9;
    color: #000000;
    font-size: 23px;
    font-family: avenir, sans-serif;
}

.main_wrap {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 0 0 0;
    width: 100%;
    margin-bottom: 0px;
}

.table {
    box-sizing: border-box;
    width: 1134px;
    height: 744px;
}

.scroll-table-body {
	height: 679px;
	overflow-x: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.scroll-table table {
	width:1134px;
	table-layout: fixed;
	border: none;
}
.scroll-table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
    color: #777777;
    font-style: normal;
    text-decoration: none;
}
.scroll-table tbody td {
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}

.table-active{
    vertical-align: middle;
    float: none;
    padding-left: 15px;
}

/* Стили для скролла */
::-webkit-scrollbar {
	width: 6px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.table th, .table td {
	border: 1px solid #888;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
 
.table tr:hover td {
	background: #bdbce2;
}

.func{
    display: flexbox;
    justify-content: center;
    width: 100%;
    height: 55px;
    padding-top: 22px;
    box-sizing: content-box;
    position: relative;
    flex-wrap: wrap;
}

.ass{
    float:left;
    vertical-align: middle;
    margin-right: 0px;
    margin-left: 15px;
}

.clockpage
{
    margin: auto;
    max-width: 500px;
    min-width: 100px;
    background: #FCFBF9;
    text-align: center;
}
#dayOfWeek
{
  display: block;
  font-weight: normal;
  font-size: 20px;
}

.div-search{
    display: inline-block;
    width: 300px;
    height: 55px;
    margin-right: 300px;
    margin-left: 285px;
    vertical-align: middle;
}

.managment_all {
    display: inline-block;
    margin-left: 300px;
    vertical-align: middle;
}

.div-search:after {content:""; clear:both; display:table}
.div-search form {
    width: 100%;
    height: 100%;
    float: left;
    vertical-align: middle;
}
.div-search input {
    width: 100%;
    height: 55px;
    padding-left: 15px;
    border-radius: 17px;
    border: 2px solid #2a2a2a;
    background: #ffffff;
    outline: none;
    position: relative;
    transition: .3s linear;
}
.div-search input:focus {
    width: 100%;
}
.div-search button {
    padding: 5px 0px 10px 10px;
    background: none;
    border: none;
    position: absolute;
    vertical-align: middle;
}
.managment {
    display:inline-flex;
    box-sizing: border-box;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6C63FF;
    --bs-btn-border-color: #6C63FF;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5b52f8;
    --bs-btn-hover-border-color: #5b52f8;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5b52f8;
    --bs-btn-active-border-color: #6C63FF;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6C63FF;
    --bs-btn-disabled-border-color: #6C63FF;
}

.guruweba_example_form {
    width: 470px;
    font-size: 20px;
  }
  .guruweba_example_caption {
    font-size: 20px;
    text-align: center;
  }
  .guruweba_example_form .guruweba_example_infofield {
    margin-top: 10px;
  }
  .guruweba_example_form select, .guruweba_example_form input, .guruweba_example_form textarea {
    width: 100%;
    margin: 5px 0;
    padding: 5px 15px;
    border: 1px solid #ced4da;
    border-radius: 10px;
  }

  /*.guruweba_example_form{
    --border-color: #6C63FF;
    --hover-color: #fff;
    --hover-bg: #5b52f8;
    --hover-border-color: #5b52f8;
    --focus-shadow-rgb: 49,132,253;
    --active-color: #fff;
    --active-bg: #5b52f8;
    --active-border-color: #6C63FF;
    --active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  }*/

footer {
    align-items: center;
    background-color: #2A2A2A;
    bottom: 0;
    color: #666666;
    display: flex;
    font-size: 14px;
    height: 6%;
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
  }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

@font-face {
    font-family: Avenir;
    src: url(../fonts/Avenir-Light.woff2);
    font-weight: 900;
}